.colorbox {
  display: flex;
  padding: 0.5em;

  font-size: 0.75em;
  /*! height: 2em; */
  flex-flow: column;
  justify-content: space-between;
  border-radius: 5px;

}
.colorbox span {


}
.palette {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap:  10px;
}
.hero > .panel {
  display: flex;
}

.consumer {
  border: 1px dashed #124588;
}

.paletteList {
  display: flex;

}
.paletteName {
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid lightpink;
  border-radius: 10px;
  width: 20em;
}

.paletteName:hover {
  background-color: linen;

}

.currentPalette {
  background-color: lightpink;
}
