.colorbox {
  display: flex;
  padding: 0.5em;

  font-size: 0.75em;
  /*! height: 2em; */
  flex-flow: column;
  justify-content: space-between;
  border-radius: 5px;

}
.colorbox span {


}
.palette {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap:  10px;
}
.hero > .panel {
  display: flex;
}

.consumer {
  border: 1px dashed #124588;
}
